<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
                    <title>Untitled</title>
                    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
                        <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
                            <link rel="stylesheet" href="assets/css/Social-Icons.css">
                                <link rel="stylesheet" href="assets/css/styles.css">
                                    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
                                        
                                        
                                        
                                        
                                        
                                        <style>
                                            
                                            
                                            
                                            </style>
                                        </head>
    
    <body>
        <header>
            <div style="height:62px;box-shadow:1px 1px 1px 1px #888888;">
                <div class="row" style="width:auto;height:62px;">
                    <div class="col" style="height:62px;width:100px;"><label class="col-form-label" style="font-size:32px;margin-left:31px;margin-top:-5px;font-weight:600;line-height:1.05;letter-spacing:-.015em;">VRCPL</label></div>
                    <div class="col float-right" style="height:10vw;"><label class="col-form-label float-right" style="font-size:32px;margin-right:32px;margin-top:-5px;font-weight:600;line-height:1.05;letter-spacing:-.015em;">My Page</label></div>
                </div>
            </div>
        </header>
        <div id="spacerDiv" style="height:100px; margin-top: calc(50vh - 85px);">
            <div id="SearchDiv" style="margin:auto;margin-top:24px;border:1px solid black;padding-left:0px;border-color:grey;border-radius:3px;width:calc(80vw + 5px);">
                <div class="row">
                    <div class="col" style="width:80vw;padding-right:-0px;"><input type="text" name="Search" placeholder="Start Typing..." style="width:80vw;height:45px;border-color:transparent;border-radius:3px;letter-spacing:-.015em;line-height:1.05; " onfocus="SearchFocus()" onfocusout="SearchFocusOut()"></div>
                    <div class="col" style="padding-left:0px;margin-top:10px;"><i class="fa fa-search" style="margin-left:-14px;margin-top:0px;color:grey;"></i></div>
                </div>
            </div>
        </div>
        <div class="bottomSpacerDiv" style="height: auto;margin-bottom: 10px;">
            
            <table class="w3-table-all w3-centered w3-hoverable">
                <thead>
                    <tr class="w3-hover-blue">
                        <th>Name</th>
                        <th>Location</th>
                        <th>more info</th>
                    </tr>
                </thead>
                <tbody>
                    <a href = "login.html"><tr class="w3-hover-blue">
                        <td>Name</td>
                        <td>Location</td>
                        <td>More Info</td>
                        
                    </tr>
                    </a>
                    
                    <tr class="w3-hover-blue">
                        <td>Name</td>
                        <td>Location</td>
                        <td>More Info</td>
                        
                    </tr>
                    
                    <tr class="w3-hover-blue">
                        <td>Name</td>
                        <td>Location</td>
                        <td>More Info</td>
                        
                    </tr>
                    
                    <tr class="w3-hover-blue">
                        <td>Name</td>
                        <td>Location</td>
                        <td>More Info</td>
                        
                    </tr>
                    
                    <tr class="w3-hover-blue">
                        <td>Name</td>
                        <td>Location</td>
                        <td>More Info</td>
                        
                    </tr>
                    
                    <tr class="w3-hover-blue">
                        <td>Name</td>
                        <td>Location</td>
                        <td>More Info</td>
                        
                    </tr>
                    
                    <tr class="w3-hover-blue">
                        <td>Name</td>
                        <td>Location</td>
                        <td>More Info</td>
                        
                    </tr>
                    
                    <tr class="w3-hover-blue">
                        <td>Name</td>
                        <td>Location</td>
                        <td>More Info</td>
                        
                    </tr>
                    
                    <tr class="w3-hover-blue">
                        <td>Name</td>
                        <td>Location</td>
                        <td>More Info</td>
                        
                    </tr>
                    
                    <tr class="w3-hover-blue">
                        <td>Name</td>
                        <td>Location</td>
                        <td>More Info</td>
                        
                    </tr>
                    
                    <tr class="w3-hover-blue">
                        <td>Name</td>
                        <td>Location</td>
                        <td>More Info</td>
                        
                    </tr>
                    
                    <tr class="w3-hover-blue">
                        <td>Name</td>
                        <td>Location</td>
                        <td>More Info</td>
                        
                    </tr>
                    
                    
                    
                    
                    
                    
                    
                    
                    
                </tbody>
            </table>
            
            
            
        </div>
        <footer>
            <div style="min-width:10px; box-shadow: -1px -1px 3px 3px #888888">
                <div class="row">
                    <div class="col">
                        <div><label style="margin-left:20px;margin-top:0px;padding-top:7px;color:grey;">More Information</label></div>
                    </div>
                    <div class="col">
                        <div style="width:79px;margin:auto;"><label style="padding-top:7px;color:grey;">My Details</label></div>
                    </div>
                    <div class="col"><label class="col-form-label float-right" style="margin-right:20px;color:grey;">Contact</label></div>
                </div>
                <div class="row">
                    <div class="col">
                        <div style="margin:auto;width:108px;"><label style="color:grey;">VRCPL© 2019</label></div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/untitled.js"></script>
        <script>
            function SearchFocus(){
                document.getElementById("SearchDiv").style.transitionDuration = "0s";
                document.getElementById("SearchDiv").style.borderColor = "#1666fa";
                document.getElementById("SearchDiv").style.transitionDuration = "200ms";
                document.getElementById("SearchDiv").style.boxShadow = "3px 3px 3px 3px #888888";
                document.getElementById("spacerDiv").style.transitionDuration = "500ms";
                scrollTo(0,0);
                document.getElementById("spacerDiv").style.marginTop = "0px";
                scrollTo(0,0);
                
                
            }
        function SearchFocusOut(){
            document.getElementById("SearchDiv").style.transitionDuration = "0s";
            document.getElementById("SearchDiv").style.borderColor = "grey";
            document.getElementById("SearchDiv").style.transitionDuration = "200ms";
            document.getElementById("SearchDiv").style.boxShadow = "1px 1px 1px 1px #888888";
            
            
        }
        
            </script>
    </body>
    
</html>
